/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url("https://images.unsplash.com/photo-1495954222046-2c427ecb546d?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8Y29tcHV0ZXIlMjBsaWdodHxlbnwwfHwwfHx8MA%3D%3D") no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 90%;
}

.logo {
    width: 100px;
    margin-bottom: 20px;
    border-radius: 50%;
}

header h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

header p {
    font-size: 16px;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.button {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    transition: all 0.3s ease;
    gap: 10px;
}

.button img.icon {
    width: 24px;
    height: 24px;
}

.button:hover {
    background-color: #555;
}

.whatsapp {
    background-color: #25d366;
}

.whatsapp:hover {
    background-color: #1ebe57;
}

.shopee {
    background-color: #ee4d2d;
}

.shopee:hover {
    background-color: #d8431d;
}
